# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
.idea_modules/
*.iml
*.iws
*.class
*.log

# mvn specific
target
dependency-reduced-pom.xml

#python files
*.pyc


#Application specific
*.pid
src/main/resources/profile.json
src/main/resources/toree-gateway.properties
